<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Afterpay\CashApp\Block\Adminhtml\System\Config\Fieldset\AllowedByCountry">
        <arguments>
            <argument name="afterpay" xsi:type="object">Afterpay\CashApp\Model\Method\MethodFacade</argument>
        </arguments>
    </type>
</config>
